.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.app-main-container{
  min-height: 100%;
  position: relative;
}

.nav{
  position: fixed;
  border-bottom: 1px solid lightgrey;
  background-color: #FFFFFF;
}

.main-container{
  padding-top: 34px;
  padding-bottom: 185px;
  height: 100%;
  background-color: #fafafa;
}

.footer{
  position: absolute;
  width: 100vw;
  height: 370px;
  border-top: 1px solid lightgrey;
  background-color: white;
  bottom: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
