.login-form-container{
	position: fixed;
	width: 350px;
	height: 550px;
	display: flex;
	flex-direction: column;
	left: 50%;
	transform: translate(-50%);
	margin-top: 70px;
	text-align: center;
}
.login-title{
	font-family: 'Quicksand', sans-serif;
	font-weight: 100;
	font-size: 45px;
}
.login-form{
	display: block;
	justify-content: center;
	width: 100%;
}
.form-group{
	margin-top: 15px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}
.form-group.has-error{
	margin-bottom: 0px;
}

label {
  margin: 10px 0;
  position:relative;
  display:inline-block;
  width: 100%;
}
span {
  padding:10px;
  pointer-events: none;
  position:absolute;
  left:0;
  top:0;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity:0.5;
}
.form-control{
	font-family: 'Quicksand', sans-serif;
	font-weight: 100;
	font-size: 18px;
	outline: none;
	border: none;
	border-bottom: 1px solid lightgrey;
	color: black;
	width: 100%;
	height: 35px;
	background: transparent;
	/*padding:10px;*/
}
.form-control:hover{
	border-bottom: 1px solid #3899ec;
}
.form-control:focus{
	border-bottom: 1px solid #3899ec;
}
.form-control:focus + span, form-control:not(:placeholder-shown) + span {
  	transform: scale(0.75) translateY(-100%) translateX(-30px);
}
.form-control:valid + span, form-control:not(:placeholder-shown) + span {
  	transform: scale(0.75) translateY(-100%) translateX(-30px);
}

.login-btn{
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 18px;
	border: 1px solid #3899ec;
	color: #3899ec;
	background-color: inherit;
	border-radius: 20px;
	height: 40px;
	margin-top: 20px;
	cursor: pointer;
	width: 150px;
	transition: all .2s ease-in-out;
}
.login-btn:hover{
	background-color: #3899ec;
	color: white;

}
.help-block{
	font-family: 'Quicksand', sans-serif;
	font-weight: 100;
	font-size: 12px;
	margin-left: 5px;
}



