<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

.nav-main{                          
  	background-color: inherit;
  	width: 100vw;
  	height: 60px;
}
.nav-left-container{
	float: left;
	width: 33.3vw;
	height:60px;
}
.nav-center-container{
	text-align: center;
	float: left;
	width: 33.3vw;
	height:60px;
}
.nav-right-container{
	float: left;
	text-align: right;
	width: 33.3vw;
	height:60px;
	display:flex;
    flex-direction:row;
	justify-content: space-evenly;
}
.nav-left-container button {
	margin-left: 5%;
	font-family: 'Quicksand', sans-serif;
	font-size: 40px;
	line-height: 58px;
	color: black;
	border: none;
	background-color: inherit;
	cursor: pointer;
	outline: inherit;
}
.nav-right-container button{
	background: none;
	color: inherit;
	border: none;
	cursor: pointer;
	outline: none;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 80%;
	font-weight: bold;
	margin-left: 10%;
	margin-right: 5%;
	line-height: 60px;
}
.nav-right-container button:hover{
	color: #3899ec;
}

.selectedLink button {
	color: #3899ec;
}
.searchbar{
	margin-top: 13px;
	display: flex;
}
.search-icon{
	margin-top: 7px;
	height: 23px;
	width: 23.5px;
	margin-right: 7px;
}
.search-box{
	font-family: 'Quicksand', sans-serif;
	font-weight: 100;
	font-size: 17px;
	outline: none;
	border: none;
	border-bottom: 1px solid lightgrey;
	color: black;
	width: 100%;
	height: 30px;
	background: transparent;
}
.search-box:hover{
	border-bottom: 1px solid #3899ec;
}
.search-box:focus{
	border-bottom: 1px solid #3899ec;
}
.dropdown-account{
	position: relative;
	display: inline-block;
	margin-left: 6px;
}
.dropdown-account-content{
	display: none;
	position: absolute;
	background-color: white;
	width: 120px;
	border: 1px solid lightgrey;
	z-index: 1;
	text-align: center;
}
.dropdown-account:hover .dropdown-account-content{
	display: block;
}
.dropdown-account:hover .account-icon{
	opacity: 0.6;
  	filter:alpha(opacity=60);
}
.dropdown-account-content{
	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
	margin-top: 51.5px;
}
.account-icon{
	width: 32px;
	height: 32px;
	margin-top: 14px;
}
.dropdown-account button {
	margin: 0;
	line-height: 30px;
	background: none;
	color: inherit;
	border: none;
	cursor: pointer;
	outline: none;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 80%;
	font-weight: bold;
}
