<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

.nav-main{                          
  	background-color: inherit;
  	width: 100vw;
  	height: 60px;
}
.nav-left-container{
	float: left;
	width: 33.3vw;
	height:60px;
}
.nav-center-container{
	text-align: center;
	float: left;
	width: 33.3vw;
	height:60px;
}
.nav-right-container{
	float: left;
	text-align: right;
	width: 33.3vw;
	height:60px;
}
.nav-center-container button {
	font-family: 'Quicksand', sans-serif;
	font-size: 40px;
	line-height: 58px;
	color: black;
	border: none;
	background-color: inherit;
	cursor: pointer;
	outline: inherit;
}
.nav-right-container button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 80%;
	font-weight: bold;
	margin-left: 10%;
	margin-right: 5%;
	line-height: 60px;
}
.nav-right-container button:hover{
	text-decoration:underline;
}
.nav-left-container button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 80%;
	font-weight: bold;
	margin-left: 6%;
	line-height: 60px;
}
.nav-left-container button:hover{
	text-decoration:underline;
}
.selectedLink button {
	text-decoration: underline;
}

