.filter-items-container button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: none;
	font-family: 'Quicksand', sans-serif;
	font-weight: 100;
	font-size: 80%;
	text-align: left;
}

.filter-items-container button:hover{
	color: #3899ec;
}

.filter-items-container{
	margin-left: 20.4%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.selectedLink button {
	color: #3899ec;
	font-weight: bold;
}

.filter-text{
	border: none;
	padding: none;
}

